*{
    box-sizing: border-box;
    margin: 0;
    padding:0;  
}

body{
   height: 100vh;
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   
}


.section-1{
  color: rgb(237, 14, 226);
  
 }
.section-2{
padding-left: 100px;
padding-top: 50px;
padding-bottom: 20px;
text-align: center;
}
.form-editing{
   
}
.image-edit{

  width: 100%;
  background-position: center;
}

i{
    font-size: 30px;
    margin:0 5px ;
}

